body{
    text-align: center;
}

.imgSize img{
    height: 250px;
    width: 300px;
}
 
 #productInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    text-align: center;
    
}


.input-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
}
.input-group-append{
    margin: 10px;
}
.container{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 250px;
}

.foodMake img{
    width: 250px;
    height: 200px;
    /* margin-left: 500px; */
}

.foodMake h1{
    text-align: center;
}

ol{
    list-style-type: none;
}


/* #search_button{
    padding: 10px 10px;
} */